<!-- Hero Section -->
<section class="hero py-16">
  <!-- Hero Wrapper -->
  <div class="container mx-auto flex items-center justify-between">
    <!-- Left Container-->
    <div class="w-1/2">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-6xl">Don't wait !</h1>
      <button
        class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4"
      >
        Order now
      </button>
    </div>
    <!-- End of Left Container -->

    <!-- Right Container -->
    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="" />
    </div>
    <!-- End of Right Container -->
  </div>
  <!-- End of Hero Wrapper -->
</section>
<!-- End of Hero Section -->

<!-- Menu Section -->
<section class="menu container mx-auto py-8">
  <!-- Menu Title -->
  <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
  <!-- Pizzas Wrapper -->
  <div class="grid grid-cols-4 gap-x-4 gap-y-10">
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->

    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
    <!-- Pizza Card -->
    <div>
      <!-- Pizza Image -->
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="Pizza" />

      <!-- Pizza Info -->
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
      </div>
      <!-- End of Pizza Info -->

      <!-- Pizza cart -->
      <div class="flex items-center justify-around mt-6">
        <span class="font-bold text-lg">$10</span>
        <button
          class="add-to-cart py-1 px-6 rounded-full flex font-bold items-center"
        >
          <span>+</span>
          <span class="ml-4">Add</span>
        </button>
      </div>
      <!-- End of Pizza cart -->
    </div>
    <!-- End of Pizza Card -->
  </div>
  <!-- End of Pizzas wrapper -->
</section>
<!-- End of Menu Section -->
