@import "./variables";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}
// Navbar
nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}
nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
// Navbar

// Hero Section
section.hero {
  background: $secondary;
}
