<section class="cart py-16">
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
    </div>
    <!-- Pizza list -->
    <div class="pizza-list">
      <!-- Pizza -->
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="Pizza" />
        <div class="flex-1 ml-4">
          <h1>Mariana</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="font-bold text-lg">$10</span>
      </div>
      <!-- End of pizza -->
      <!-- Pizza -->
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="Pizza" />
        <div class="flex-1 ml-4">
          <h1>Mariana</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="font-bold text-lg">$10</span>
      </div>
      <!-- End of pizza -->
      <!-- Pizza -->
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="Pizza" />
        <div class="flex-1 ml-4">
          <h1>Mariana</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="font-bold text-lg my-8">$10</span>
      </div>
      <!-- End of pizza -->
      <!-- Pizza -->
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/pizza.png" alt="Pizza" />
        <div class="flex-1 ml-4">
          <h1>Mariana</h1>
          <span>MEDIUM</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="font-bold text-lg">$10</span>
      </div>
      <!-- End of pizza -->
    </div>
    <!-- End of Pizza list -->
    <hr />
    <div class="text-right py-4">
      <div>
        <span class="text-lg font-bold">Total amount</span>
        <span class="amount text-2xl font-bold ml-2">$10</span>
      </div>
      <div>
        <form action="" class="mt-4">
          <input
            class="border border-gray-400 p-2 ml-2 mb-4"
            type="text"
            placeholder="Phone number"
          />
          <input
            class="border border-gray-400 p-2 ml-2 mb-4"
            type="text"
            placeholder="Address"
          />
          <div>
            <button
              type="submit"
              class="btn-primary px-6 py-2 rounded-full font-bold text-white"
            >
              Order Now
            </button>
          </div>
        </form>
      </div>
      <!-- <a
        href=""
        class="
          inline-block
          cursor-pointer
          btn-primary
          px-6
          py-2
          rounded-full
          font-bold
          text-white
        "
        >Login to continue</a
      > -->
    </div>
  </div>
  <!-- <div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart is empty</h1>
      <p class="text-gray-500 text-lg mb-12">
        You probably haven't ordered a pizza yet. <br />To order a pizza, go to
        the main page.
      </p>
      <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart" />
      <a
        href="/"
        class="
          btn-primary
          inline-block
          px-6
          py-2
          rounded-full
          text-white
          font-bold
          mt-12
        "
        >Go back</a
      >
    </div>
  </div> -->
</section>
